In [1]:
import pandas as pd
import pymongo

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('shoes.csv')
df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [3]:
df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'asins', 'brand', 'categories',
       'primaryCategories', 'colors', 'dimension', 'ean', 'imageURLs', 'keys',
       'manufacturer', 'manufacturerNumber', 'name', 'prices.amountMax',
       'prices.amountMin', 'prices.availability', 'prices.color',
       'prices.condition', 'prices.currency', 'prices.dateAdded',
       'prices.dateSeen', 'prices.isSale', 'prices.merchant', 'prices.offer',
       'prices.returnPolicy', 'prices.shipping', 'prices.size',
       'prices.sourceURLs', 'sizes', 'sourceURLs', 'upc', 'weight'],
      dtype='object')

In [4]:
df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean', 'upc']]
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,Naturalizer,"Silver,Cream Watercolor Floral","6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",55.99,https://i5.walmartimages.com/asr/861ca6cf-fa55...,NaN,017136472311
1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958

In [5]:
df=df.dropna().reset_index()
df.head()

,index,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
3,4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958
4,5,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10,033977052222

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 8 columns):
index               664 non-null int64
brand               664 non-null object
colors              664 non-null object
sizes               664 non-null object
prices.amountMax    664 non-null float64
imageURLs           664 non-null object
ean                 664 non-null float64
upc                 664 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 41.6+ KB

In [7]:
df=df.drop(columns=['index'])
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
3,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958
4,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10,033977052222

In [8]:
list(df.sizes[0])

['1', '0', ',', '7', ',', '6', ',', '9', ',', '8']

In [9]:
df.sizes=df.sizes.apply(lambda x: x.split(','))
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,"[10, 7, 6, 9, 8]",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,Grey,"[10, 7, 6, 9, 8]",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Black,"[10, 7, 6, 9, 8]",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
3,MUK LUKS,Grey,"[10, 7, 6, 9, 8]",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958
4,Soft Ones,Brown Tweed,"[5, 6.5, 9, 11]",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10,033977052222

In [10]:
df=df.explode('sizes').reset_index().drop(columns='index')
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743

In [11]:
codigo=pd.read_csv('upc_corpus.csv')
codigo.head(16)

             ean                                               name
0   725177540363  Belle and The Yank 1/4" - 20 TPI x 90mm Hex Dr...
1   725177540370  Belle and The Yank 1/4" - 20 TPI x 120mm Hex D...
2   797776092321       Eazel Wines 750ml Red Wine Eazel Shiraz 2014
3   701197194311  IsyLei lilla IsyLei All-In-One, lilla - Cono L...
4   797776110773                    MsConscious 370g Skinny Granola
5   797776110797                      MsConscious 370g City Granola
6   797776110803                  MsConscious 370g Euphoria Granola
7   797776110780            MsConscious 430g Fitness Junkie Granola
8   701197247475              Wiuep Co 100ml Wiuep Denim Mist 100mL
9   701197247482              Wiuep Co 200mL Wiuep Denim Mist 200mL
10  701197247505          Wiuep Co 500mL Wiuep Denim Solution 500mL
11  701197247499          Wiuep Co 200mL Wiuep Denim Solution 200mL
12  797776111046                               KYROENT Pray/What If
13  797776111022                Easy Poop BAgs black Easy Poop Bags
14  797776111039                Easy Poop bags black Easy Poop Bags
15           NaN                                        Graco 250dc

In [12]:
codigo=codigo.dropna().reset_index()
codigo.head(16)

    index           ean                                               name
0       0  725177540363  Belle and The Yank 1/4" - 20 TPI x 90mm Hex Dr...
1       1  725177540370  Belle and The Yank 1/4" - 20 TPI x 120mm Hex D...
2       2  797776092321       Eazel Wines 750ml Red Wine Eazel Shiraz 2014
3       3  701197194311  IsyLei lilla IsyLei All-In-One, lilla - Cono L...
4       4  797776110773                    MsConscious 370g Skinny Granola
5       5  797776110797                      MsConscious 370g City Granola
6       6  797776110803                  MsConscious 370g Euphoria Granola
7       7  797776110780            MsConscious 430g Fitness Junkie Granola
8       8  701197247475              Wiuep Co 100ml Wiuep Denim Mist 100mL
9       9  701197247482              Wiuep Co 200mL Wiuep Denim Mist 200mL
10     10  701197247505          Wiuep Co 500mL Wiuep Denim Solution 500mL
11     11  701197247499          Wiuep Co 200mL Wiuep Denim Solution 200mL
12     12  797776111046                               KYROENT Pray/What If
13     13  797776111022                Easy Poop BAgs black Easy Poop Bags
14     14  797776111039                Easy Poop bags black Easy Poop Bags
15     16  797776111084  Vivat Music Foundation CD DigiPak 140 x 125 x ...

In [13]:
barcode=[]

for i in range(50000):
    if len(codigo.ean[i])==12:
        barcode.append(codigo.ean[i])
        
len(barcode[0:len(df.ean)])==len(df.ean)

True

In [14]:
df.ean=barcode[0:len(df.ean)]
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743

In [15]:
df=df.rename(columns={'colors':'color', 'sizes':'size', 'prices.amountMax':'price', 'imageURLs':'URL'})
df.head()

,brand,color,size,price,URL,ean,upc
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9806 entries, 0 to 9805
Data columns (total 7 columns):
brand    9806 non-null object
color    9806 non-null object
size     9806 non-null object
price    9806 non-null float64
URL      9806 non-null object
ean      9806 non-null object
upc      9806 non-null object
dtypes: float64(1), object(6)
memory usage: 536.4+ KB

In [17]:
cliente=pymongo.MongoClient()

db=cliente.supply

In [18]:
db.zapatos.insert_many(df.to_dict('records'))

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9806 entries, 0 to 9805
Data columns (total 7 columns):
brand    9806 non-null object
color    9806 non-null object
size     9806 non-null object
price    9806 non-null float64
URL      9806 non-null object
ean      9806 non-null object
upc      9806 non-null object
dtypes: float64(1), object(6)
memory usage: 536.4+ KB