# Generador de codigos de barras (imagenes)

In [1]:
#librerias

import pandas as pd

import pymongo

from barcode import EAN13
from barcode.writer import ImageWriter

In [2]:
# lectura base de datos

cliente=pymongo.MongoClient()
db=cliente.supply

df=pd.DataFrame(list(db.zapatos.find()))
df.head()

,_id,brand,color,size,price,URL,ean,upc
0,5f37c5bafd075a485e637747,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743
1,5f37c5bafd075a485e637748,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743
2,5f37c5bafd075a485e637749,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743
3,5f37c5bafd075a485e63774a,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743
4,5f37c5bafd075a485e63774b,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743

In [3]:
df.info()       # check

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9806 entries, 0 to 9805
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     9806 non-null   object
 1   brand   9806 non-null   object
 2   color   9806 non-null   object
 3   size    9806 non-null   object
 4   price   9806 non-null   float64
 5   URL     9806 non-null   object
 6   ean     9806 non-null   object
 7   upc     9806 non-null   object
dtypes: float64(1), object(7)
memory usage: 613.0+ KB

# crea una imagen

with open('code.jpeg', 'wb') as f:
    EAN13(str(df.ean[0]), writer=ImageWriter()).write(f)

# para todos los registros

for i in range(len(df)):
    with open('barcodes/code_{}.jpeg'.format(i), 'wb') as f:
        EAN13(df.ean[i], writer=ImageWriter()).write(f)

In [4]:
# 10 imagenes

for i in range(10):
    with open('barcodes/code_{}.jpeg'.format(i), 'wb') as f:
        EAN13(df.ean[i], writer=ImageWriter()).write(f)