# Generador de codigos de barras

In [1]:
#librerias

import pandas as pd

import pymongo

In [2]:
cliente=pymongo.MongoClient()
db=cliente.supply

df=pd.DataFrame(list(db.zapatos.find()))
df.head()

,_id,brand,color,size,price,URL,ean,upc
0,5e67b556e2892d969131c4f6,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743
1,5e67b556e2892d969131c4f7,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743
2,5e67b556e2892d969131c4f8,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743
3,5e67b556e2892d969131c4f9,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743
4,5e67b556e2892d969131c4fa,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9806 entries, 0 to 9805
Data columns (total 8 columns):
_id      9806 non-null object
brand    9806 non-null object
color    9806 non-null object
size     9806 non-null object
price    9806 non-null float64
URL      9806 non-null object
ean      9806 non-null object
upc      9806 non-null object
dtypes: float64(1), object(7)
memory usage: 613.0+ KB

In [4]:
from barcode import EAN13
from barcode.writer import ImageWriter
from io import BytesIO

rv = BytesIO()
#EAN13(str(df.ean[0]), writer=ImageWriter()).write(rv)

with open('code.jpeg', 'wb') as f:
    EAN13(str(df.ean[0]), writer=ImageWriter()).write(f)

In [5]:
for i in range(len(df)):
    with open('barcodes/code_{}.jpeg'.format(i), 'wb') as f:
        EAN13(df.ean[i], writer=ImageWriter()).write(f)